.App {
  display: flex;
}

canvas {
  position: absolute;
  /* border: 2px soloid black; */
  /* background-color: blue; */
}

.navbar {
  height: 50px;
  background-color: #4064ac;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 0px 100px;
  font-size: 20px;
}

.navbar > span{
  cursor: pointer;
}

.newPostCard {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  /* overflow: hidden; */
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.uploadtxt{
  font-size: 20px;
  font-weight: bold;
}
.addImg {
  width: 100px;
}

.sendBtn{
  margin: 30px;
  width: 200px;
  height: 200px;
  display: flex;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  background-color: rgb(206, 214, 240);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}

.postForm {
  display: flex;
  /* flex-direction: column; */
  /* border: 2px solid red; */
}


.container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  
  /* border: 2px solid red; */
  /* position: relative; */

}

 .left {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative; 
  /* border: 10px solid black; */
  /* background: blue; */
 } 
 /* .imgCanvas{ */
/* object-fit: cover; */
/* object-fit: contain; */
/* position: absolute; */
/* margin-top: 800px; */
 /* } */
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.rightInput {
  padding: 20px;
  margin-bottom: 20px;
}

.rightButton {
  padding: 10px 20px;
  font-weight: bold;
}

.friendInput {
  position: absolute;
  padding: 10px;
  font-weight: bold;
  border: none;
}

.friends {
  font-size: 20px;
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
}

/* #video{
  */
/* } */
.videoDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.linkClass{
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 480px){
  .postForm{
    flex-direction: column;
  }
}